{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["Android >= 4.0", "iOS >= 7"]
      }
    }],
    "stage-1"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime",    [
    "import",
    {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }
  ]]
  {{#if_or unit e2e}},
  "env": {
    "test": {
      "presets": ["env", "stage-1"]{{#if_eq runner "karma"}},
      "plugins": ["transform-vue-jsx", "istanbul"]{{/if_eq}}{{#if_eq runner "jest"}},
      "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node"]{{/if_eq}}
    }
  }{{/if_or}}
}
